{% extends "base.html" %}

{% block content %}

<head>    
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">   
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
</head>
<form action="" method="post" novalidate style="margin-top: 40px; margin-left: 30px; margin-right: 30px;">
    {{ form.hidden_tag() }}
    <table style="width:100%;">
        <tr>
            <td style="width: 31%;">
                <div class="input-group" style="margin-top: 20px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Price</span>
                    {{ form.price(class="form-control") }}
                </div>
            </td>
            <td style="width: 31%;">
                <div class="input-group" style="margin-top: 20px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Average Price</span>
                    {{ form.average_price(class="form-control") }}
                </div>
            </td>
            <td style="width: 31%;">
                <div class="input-group" style="margin-top: 20px;padding-left: 10px;padding-right: 20px;">
                    <span class="input-group-addon">Square</span>
                    {{ form.square(class="form-control") }}
                </div>
            </td>
            <td rowspan="2" align="center">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Our House" width="100px" height="100px"
                    style="margin-top: 30px;padding-top: 5px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Living Room</span>
                    {{ form.living_room(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Drawing Room</span>
                    {{ form.drawing_room(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 20px;">
                    <span class="input-group-addon">Bathroom</span>
                    {{ form.bathroom(class="form-control") }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Kitchen</span>
                    {{ form.kitchen(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Floor</span>
                    {{ form.floor(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 20px;">
                    <span class="input-group-addon">Type</span>
                    {{ form.building_type(class="form-control") }}
                </div>
            </td>
            <td rowspan="2" align="center">{% if user %}
                <div>
                    <p>{{ form.check(class="button", style="height:90px;width:90%;margin-top:20px") }}</p>
                </div>
                {% else %}
                <p style="color: red;margin-top: 20px; "><b>You have to log in to predict</b></p>
                <table width="60%">
                    <tr>
                        <td align="left">
                            <p><span>Already have an account?</span>
                                <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Log
                                    in</a>
                            </p>
                        </td>
                        <td align="right">
                            <p><span>Create an account? </span>
                                <a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span>
                                    Register</a>
                            </p>
                        </td>
                    </tr>

                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Renovation</span>
                    {{ form.renovation_con(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top: 10px;padding-left: 10px;padding-right: 10px;">
                    <span class="input-group-addon">Elevator</span>
                    {{ form.elevator(class="form-control") }}
                </div>
            </td>
            <td>
                <div class="input-group" style="margin-top:10px;padding-left: 10px;padding-right: 20px;">
                    <span class="input-group-addon">Subway</span>
                    {{ form.subway(class="form-control") }}
                </div>
            </td>
        </tr>
    </table>
    <!-- <table width="60%" style="margin-top: 20px;">
        <tr>
            <td align="center""><label class="checkbox-inline">
                {{ form.elevator() }} Elevator
                </label>
            </td>
            <td align="center"><label class="checkbox-inline">
                {{ form.subway() }} Subway
                </label></td>
        </tr>

    </table> -->
</form>
<!-- {% for house in houses %}
<a href=" {{ url_for('details', house_id=house.id )}}">{{ house.id }}</a>
{% endfor %} -->
<div style="margin: 40px 30px 0px 30px;">
    <hr>
    <table style="width: 100%;">
        {% if user.id in check_user %}
        <tr>
            <td rowspan="2" style="width: 50%;font-size: 3rem;">
                <b>Find {{ paginate.total }} suitable houses for you ^_^ <p
                        style="color: gray;font-size: 1rem;margin-top: 3px;">*According to your last query data</p></b>
            </td>
            <td align="right" style="vertical-align: bottom;"><a href="{{ url_for('tips') }}"><span
                        class="glyphicon glyphicon-info-sign"></span>&nbsp;Can't find a house? Tips</a></td>
        </tr>
        <tr>
            <td>
                <p class="pull-right" style="margin-top: 20px;">
                    Order By:
                    <!-- <a id="href_order" href=""> -->
                    {% if user.order == 0 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs active">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 1 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs active">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 2 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs active">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 3 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs active">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 4 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs active">Price(Descending)</button></a>
                    {% endif %}
                </p>
            </td>
        </tr>
        {% else%}
        <tr>
            <td style="width: 50%;font-size: 3rem;"><b>Have a quick look at our houses!</b></td>
            <td>
                <p class="pull-right" style="margin-top: 25px;">
                    Order By:
                    <!-- <a id="href_order" href=""> -->
                    {% if user.order == 0 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs active">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 1 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs active">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 2 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs active">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 3 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs active">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs">Price(Descending)</button></a>
                    {% elif user.order == 4 %}
                    <a href="{{ url_for('order', user_id1=user.id, order=0) }}"><button type="button"
                            class="btn btn-xs">Default</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=1) }}"><button type="button"
                            class="btn btn-xs">Square(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=2) }}"><button type="button"
                            class="btn btn-xs">Sqaure(Descending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=3) }}"><button type="button"
                            class="btn btn-xs">Price(Ascending)</button></a>
                    <a href="{{ url_for('order', user_id1=user.id, order=4) }}"><button type="button"
                            class="btn btn-xs active">Price(Descending)</button></a>
                    {% endif %}
                </p>
            </td>
        </tr>
        {% endif %}


    </table>
</div>

{% if user.id in check_user %}
{% for house in houses_checked %}

<div style="margin-left: 30px; margin-right: 30px;margin-top: 10px;">
    <table width="100%" class="table table-condensed">
        <tr>
            {% for h in houses %}
            {% if house.house_id == h.id %}
            <td rowspan="3" width="22%">
                {% for i in imgs %}
                {% if i.house_id == h.id %}
                <a href="{{ url_for('details', house_id=h.id, user_id_checked=user.id )}}" id="image"><img
                        src="{{ i.filepath }}" alt="{{ i.filepath }}" width="100%" height="170px"
                        class="img-rounded"></a>
                {% endif %}
                {% endfor %}
            </td>
            {% endif %}
            {% endfor %}
            {% if house.building_type == 1 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Tower</strong></td>
            {% elif house.building_type == 2 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Bungalow</strong></td>
            {% elif house.building_type == 3 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Plate &
                    Tower</strong></td>
            {% elif house.building_type == 4 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Plate</strong></td>
            {% endif %}
            {% if house.renovation_con == 1 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Other</b>
            </td>
            {% elif house.renovation_con == 2 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Rough</b>
            </td>
            {% elif house.renovation_con == 3 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation:
                    Simplicity</b></td>
            {% elif house.renovation_con == 4 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation:
                    Hardcover</b></td>
            {% endif %}
            <td rowspan="3" align="center" style="font-size: 25px;width: 26%;">
                <div
                    style="background-color: rgb(240, 240, 240);border: 1px solid rgb(240, 240, 240);
                border-radius: 10px;vertical-align: middle;box-shadow: 5px 5px 5px rgb(172, 172, 172);margin: 45px 50px 0 50px; height:100%;padding-top: 10px;padding-bottom: 10px;">
                    <b> <strong style="color: red;">
                            ¥{{ '%.2f' %(house.total_price) }}</strong></b>
                    <br>
                    <p style="color:grey;font-size: 13px;">¥{{ house.average_price }}/m<sup>2</sup></p>
                </div>


            </td>
        </tr>
        <tr>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ house.living_room }} Beds</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><img src="{{ url_for('static', filename='img/drawingroom.png') }}" alt="drawing_room" width="18%"
                        style="padding-bottom: 3px;" />&nbsp;{{ house.drawing_room }} Parlour</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;{{ house.kitchen }} Kitchen</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><img src="{{ url_for('static', filename='img/bathroom.png') }}" alt="house2" width="18%"
                        style="padding-bottom: 3px;" />&nbsp;{{ house.bathroom }} Baths</b>
            </td>
        </tr>
        <tr>
            {% if house.elevator == 1 %}
            <td style="vertical-align: middle;padding:7px 0 7px 25px"><span class="glyphicon glyphicon-ok-sign"
                    style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Elevator</b></td>
            {% elif house.elevator == 0 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign"
                    style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Elevator</b></td>
            {% endif %}
            {% if house.subway == 1 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-ok-sign"
                    style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Subway</b></td>
            {% elif house.subway == 0 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign"
                    style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Subway</b></td>
            {% endif %}
            <td colspan="2" style="vertical-align: middle;padding:5px 0 5px 25px"><b><span
                        class="glyphicon glyphicon-fullscreen"></span>&nbsp;{{ house.square }}m<sup>2</sup></b></td>
        </tr>
    </table>
</div>
{% endfor %}
{% else %}
{% for house in houses_total %}
<div style="margin-left: 30px; margin-right: 30px;margin-top: 25px;">
    <table width="100%" class="table table-condensed">
        <tr>
            <td rowspan="3" width="22%">
                {% for i in imgs %}
                {% if i.house_id == house.id %}
                <a href="{{ url_for('details', house_id=house.id, user_id_checked=user.id )}}" id="image"><img
                        src="{{ i.filepath }}" alt="{{ i.filepath }}" width="100%" height="170px"
                        class="img-rounded"></a>
                {% endif %}
                {% endfor %}
            </td>
            {% if house.building_type == 1 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Tower</strong></td>
            {% elif house.building_type == 2 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Bungalow</strong></td>
            {% elif house.building_type == 3 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Plate &
                    Tower</strong></td>
            {% elif house.building_type == 4 %}
            <td colspan="2" class="active"
                style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type:
                    Plate</strong></td>
            {% endif %}
            {% if house.renovation_con == 1 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Other</b>
            </td>
            {% elif house.renovation_con == 2 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Rough</b>
            </td>
            {% elif house.renovation_con == 3 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation:
                    Simplicity</b></td>
            {% elif house.renovation_con == 4 %}
            <td colspan="2" class="active"
                style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation:
                    Hardcover</b></td>
            {% endif %}
            <td rowspan="3" align="center" style="font-size: 25px;width: 26%;">
                <div
                    style="background-color: rgb(240, 240, 240);border: 1px solid rgb(240, 240, 240);
                border-radius: 10px;vertical-align: middle;box-shadow: 5px 5px 5px rgb(172, 172, 172);margin: 45px 50px 0 50px; height:100%;padding-top: 10px;padding-bottom: 10px;">
                    <b> <strong style="color: red;">
                            ¥{{ '%.2f' %(house.total_price) }}</strong></b>
                    <br>
                    <p style="color:grey;font-size: 13px;">¥{{ '%.2f' %(house.total_price/house.square) }}/m<sup>2</sup>
                    </p>
                </div>


            </td>
        </tr>
        <tr>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ house.living_room }} Beds</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><img src="{{ url_for('static', filename='img/drawingroom.png') }}" alt="drawing_room" width="18%"
                        style="padding-bottom: 3px;" />&nbsp;{{ house.drawing_room }} Parlour</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;{{ house.kitchen }} Kitchen</b>
            </td>
            <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                <b><img src="{{ url_for('static', filename='img/bathroom.png') }}" alt="house2" width="18%"
                        style="padding-bottom: 3px;" />&nbsp;{{ house.bathroom }} Baths</b>
            </td>
        </tr>
        <tr>
            {% if house.elevator == 1 %}
            <td style="vertical-align: middle;padding:7px 0 7px 25px"><span class="glyphicon glyphicon-ok-sign"
                    style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Elevator</b></td>
            {% elif house.elevator == 0 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign"
                    style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Elevator</b></td>
            {% endif %}
            {% if house.subway == 1 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-ok-sign"
                    style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Subway</b></td>
            {% elif house.subway == 0 %}
            <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign"
                    style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Subway</b></td>
            {% endif %}
            <td colspan="2" style="vertical-align: middle;padding:5px 0 5px 25px"><b><span
                        class="glyphicon glyphicon-fullscreen"></span>&nbsp;{{ house.square }}m<sup>2</sup></b></td>
        </tr>
    </table>
</div>
{% endfor %}
<hr style="margin:30px 30px 0 30px;">
<table align="center">
    <tr>
        <td align="center">
            <ul class="pagination">
                {% if paginate_total.has_prev %}
                <li><a href="{{ url_for('buy', page_total = paginate_total.prev_num ) }}">&laquo;</a></li>
                {% else %}
                <li class="previous disabled"><a
                        href="{{ url_for('buy', page_total = paginate_total.prev_num ) }}">&laquo;</a></li>
                {% endif %}
                {% for i in paginate_total.iter_pages() %}
                <li><a href="{{ url_for('buy', page_total = i  ) }}">{{ i }}</a></li>
                {% endfor %}
                {% if paginate_total.has_next %}
                <li><a href="{{ url_for('buy', page_total = paginate_total.next_num ) }}">&raquo;</a></li>
                {% else %}
                <li class="next disabled"><a
                        href="{{ url_for('buy', page_total = paginate_total.next_num ) }}">&raquo;</a></li>
                {% endif %}

            </ul>
        </td>
    </tr>
</table>
{% endif %}
<hr style="margin:30px 30px 0 30px;">
{% if paginate.total != 0 %}
<table align="center">
    <tr>
        <td align="center">
            <ul class="pagination">

                {% if paginate.has_prev %}
                <li><a href="{{ url_for('buy', page = paginate.prev_num ) }}">&laquo;</a></li>
                {% else %}
                <li class="previous disabled"><a href="{{ url_for('buy', page = paginate.prev_num ) }}">&laquo;</a></li>
                {% endif %}
                {% for i in paginate.iter_pages() %}
                <li><a href="{{ url_for('buy', page = i  ) }}">{{ i }}</a></li>
                {% endfor %}
                {% if paginate.has_next %}
                <li><a href="{{ url_for('buy', page = paginate.next_num ) }}">&raquo;</a></li>
                {% else %}
                <li class="next disabled"><a href="{{ url_for('buy', page = paginate.next_num ) }}">&raquo;</a></li>
                {% endif %}

            </ul>
        </td>
    </tr>
</table>
{% endif %}
<!-- {% for house in checked %}

    <div style="margin-left: 30px; margin-right: 30px;margin-top: 25px;">
        <table width="100%" class="table table-condensed">
            <tr>
                {% for h in houses %}
                {% if house[13] == h.id %}
                <td rowspan="3" width="22%">
                    <a href="{{ url_for('details', house_id=h.id )}}" id="image"><img src="{{ url_for('static', filename='img/house.jpg') }}" alt="house"
                            width="100%" height="170px" class="img-rounded" /></a>
                </td>
                {% endif %}
                {% endfor %}
                {% if house[16] == '1' %}
                <td colspan="2" class="active" style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Tower</strong></td>
                {% elif house[16] == '2' %}
                <td colspan="2" class="active" style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Bungalow</strong></td>
                {% elif house[16] == '3' %}
                <td colspan="2" class="active" style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Plate & Tower</strong></td>
                {% elif house[16] == '4' %}
                <td colspan="2" class="active" style="vertical-align: middle;padding-left: 25px;width: 26%;font-size: 20px;"><strong>Type: Plate</strong></td>
                {% endif %}
                {% if house[18] == '1' %}
                <td colspan="2" class="active" style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Other</b></td>
                {% elif house[18] == '2' %}
                <td colspan="2" class="active" style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Rough</b></td>
                {% elif house[18] == '3' %}
                <td colspan="2" class="active" style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Simplicity</b></td>
                {% elif house[18] == '4' %}
                <td colspan="2" class="active" style="vertical-align: middle; padding-left: 25px;width: 26%;font-size: 20px;"><b>Renovation: Hardcover</b></td>
                {% endif %}
                <td rowspan="3" align="center" style="font-size: 25px;width: 26%;">
                <div style="background-color: rgb(240, 240, 240);border: 1px solid rgb(240, 240, 240);
                border-radius: 10px;vertical-align: middle;box-shadow: 5px 5px 5px rgb(172, 172, 172);margin: 45px 50px 0 50px; height:100%;padding-top: 10px;padding-bottom: 10px;"><b> <strong style="color: red;">
                    ¥{{ house[8] }}0000</strong></b>
            <br>
            <p style="color:grey;font-size: 13px;">¥{{ house[9] }}/m<sup>2</sup></p></div>


                </td>
            </tr>
            <tr>
                <td style="padding-left: 25px;width: 13%;vertical-align: middle;" >
                    <b><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ house[11] }} Beds</b>
                </td>
                <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                        <b><img src="{{ url_for('static', filename='img/drawingroom.png') }}" alt="drawing_room" width="18%" style="padding-bottom: 3px;"/>&nbsp;{{ house[12] }} Parlour</b>
                </td>
                <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                        <b><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;{{ house[13] }} Kitchen</b>
                </td>
                <td style="padding-left: 25px;width: 13%;vertical-align: middle;">
                        <b><img src="{{ url_for('static', filename='img/bathroom.png') }}" alt="house2" width="18%" style="padding-bottom: 3px;"/>&nbsp;{{ house[14] }} Baths</b>
                </td>
            </tr>
            <tr>
                {% if house[21] == '1' %}
                <td style="vertical-align: middle;padding:7px 0 7px 25px"><span class="glyphicon glyphicon-ok-sign" style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Elevator</b></td>
                {% elif house[21] == '0' %}
                <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign" style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Elevator</b></td>
                {% endif %}
                {% if house[23] == '1' %}
                <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-ok-sign" style="color: rgb(24, 177, 24);"></span>&nbsp;<b>Subway</b></td>
                {% elif house[23] == '0' %}
                <td style="vertical-align: middle;padding:5px 0 5px 25px"><span class="glyphicon glyphicon-remove-sign" style="color: rgb(221, 0, 0);"></span>&nbsp;<b>Subway</b></td>
                {% endif %}
                <td colspan="2" style="vertical-align: middle;padding:5px 0 5px 25px"><b><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;{{ house[10] }}m<sup>2</sup></b></td>
            </tr>
        </table>
    </div>
    {% endfor %} -->

<hr style="margin-top: 0; margin-left: 30px; margin-right: 30px;">
<div style="margin-top: 20px;margin-left: 10px;margin-right: 10px;margin-bottom: 50px;">
    <table style="width: 100%;">
        <tr>
            <td>
                <p style="font-size: 3rem;padding-left: 20px;"><b><span
                            class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;New House
                        Rencently</b></p>
            </td>
            <!-- <td align="right" style="padding-right: 25px;vertical-align: bottom;"><a href="{{ url_for('buy') }}" id="image">More</a></td> -->
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%;margin-top: 20px;">
                    <tr>
                        {% for h in houses_recent %}
                        <td colspan="2" width="250px" align="center">
                            {% for i in imgs %}
                            {% if i.house_id == h.id %}
                            <a href="{{ url_for('details', house_id=h.id )}}" id="image"><img src="{{ i.filepath }}"
                                    alt="{{ i.filepath }}" width="270px" height="160px" class="img-rounded"></a>
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr style="font-size: 1.7rem;">
                        {% for h in houses_recent %}
                        <td colspan="2" style="padding-left: 20px;padding-top: 10px;"><b>House ID: {{ h.id }}</b></td>
                        {% endfor %}
                    </tr>
                    <tr style="font-size: 1.4rem;margin-left: 5px;padding-right: 5px;">
                        {% for h in houses_recent %}
                        <td style="padding-left: 20px;padding-top:10px;">Square: {{ h.square }} m<sup>2</sup></td>
                        <td align="center" style="padding-right: 5px;color: red;padding-top:10px;">Price: ¥ {{
                            h.total_price }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
<!-- <div id="page1" style="display:none;">这是第1页的内容</div>
<div id="page2" style="display:inline;">这是第2页的内容</div>
<div id="page3" style="display:none;">这是第3页的内容</div>
<div id="page4" style="display:none;">这是第4页的内容</div>
<div id="page5" style="display:none;">这是第5页的内容</div> -->
<!-- <div align="center" style="margin-bottom: 30px;">
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#" onclick="showpage(1)">1</a></li>
        <li><a href="#" onclick="showpage(2)">2</a></li>
        <li><a href="#" onclick="showpage(3)">3</a></li>
        <li><a href="#" onclick="showpage(4)">4</a></li>
        <li><a href="#" onclick="showpage(5)">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div> -->
<!-- <div id="dataid" d="{{ data[i] }}" style="display:none">

    </div> -->
<!-- location -->
<!-- <div>
    <div id='container' style="width: 100%;height: 200px;"></div>
    <div class="info" style="width: 26rem;">
        <h4 id='status'></h4>
        <hr> -->
<!-- <p id='result'></p><hr> -->
<!-- <form action="" method="post" novalidate>
        {{ form1.hidden_tag() }}
        <p id='lng'>{{ form1.lng() }}</p>
        <p id='lat'>{{ form1.lat() }}</p>
    </form> -->
<!-- <p >由于众多浏览器已不再支持非安全域的定位请求，为保位成功率和精度，请升级您的站点到HTTPS。</p> -->
<!-- </div>
</div> -->
<!-- <div id='container' style="width: 100%; height: 250px;"></div>
<div class="info">
    <h4 id='status'></h4><hr>
    <p id='lgn'></p>
    <p id='lat'></p>
</div> -->


<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=您申请的key值"></script>
<style>
    .button {
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 5px;
        background-color: #434348;
        color: #ffffff;
        border: 2px solid #434348;
    }

    .button:hover {
        background-color: #ffffff;
        color: #434348;
    }
</style>
<script type="text/javascript">
    var input = document.querySelectorAll('input')
    var img = document.getElementById('image')
    function showpage(page) {
        for (var i = 1; i < 6; i++) {
            if (page == i) {
                document.getElementById("page" + page).style.display = "block";
                console.log(page);
            } else {
                document.getElementById("page" + page).style.display = "none";
                console.log(page + "HHHHH");
            }
        }
    }
    function details() {
        img.href = "{{ url_for('details') }}";
    }

    var map = new AMap.Map('container', {
        resizeEnable: true
    });
    AMap.plugin('AMap.Geolocation', function () {
        var geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：5s
            buttonPosition: 'RB',    //定位按钮的停靠位置
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点

        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function (status, result) {
            if (status == 'complete') {
                onComplete(result)
            } else {
                onError(result)
            }
        });
    });
    //解析定位结果
    function onComplete(data) {
        var loca_val = data.position.toString().split(',');
        document.getElementById('lgn').innerHTML = loca_val[0];
        document.getElementById('lat').innerHTML = loca_val[1];
    }
    //解析定位错误信息
    function onError(data) {
        document.getElementById('status').innerHTML = '定位失败'
    }
</script>
{% include 'footer.html' %}
{% endblock %}