<html>
<footer>
  <div>
    <table width="100%">
      <tr>
        <td style="color: rgb(95, 95, 95);font-size: 13px;"><span
            class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;<b>Our
            House</b>&nbsp;&nbsp;|&nbsp;&nbsp;<b>&copy;</b>&nbsp;ZLXC Group 23&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;</td>
        <td style="color: rgb(95, 95, 95);font-size: 13px;" align="right">&nbsp;&nbsp;<b>Contact Us</b>&nbsp;&nbsp;<span
            class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;1234-123-123</td>
      </tr>
    </table>
</footer>
</body>
<style>
  footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    clear: both;
    line-height: 90px;
  }
</style>

</html>