<head>    
    <meta charset="utf-8">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <table style="color:rgb(241, 241, 241); margin-left: 30px; margin-top: 15px;width: 95%;">
        <tr>
            <td style="width: 22.5%;">
                <p style="font-size: 4rem;"><span class="glyphicon glyphicon-home"></span>&nbsp;OurHouse</p>
            </td>
            <td style="width: 7.5%;">
                <p
                    style="font-size: 1.5rem;border: 2px solid rgb(241, 241, 241);border-radius: 30px;padding: 5px;margin-top: 10px;">
                    <span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Beijing
                </p>
            </td>
            <td style="width: 70%;" align="right"></td>
        </tr>
    </table>
    <div style="vertical-align: center;margin-top:90px;margin-left:350px;margin-right:350px;border:2px solid rgb(241, 241, 241);border-radius: 30px;background-color: rgb(255, 255, 255);opacity: 0.85;"
        align="center">

        <h1><b>Log Out</b></h1>
        <hr>
        <p>Are you sure to log out? </p>
        <hr>
        <table width="80%" style="margin-bottom: 30px;">
            <tr>
                <td align="left"><button type="button" class="btn btn-success" onclick="logout()">Yes</button></td>
                <td align="right"><button type="button" class="btn btn-danger" onclick="cancel()">Cancel</button></td>
            </tr>
        </table>


    </div>
    <footer>
        <div>
            <table width="100%">
                <tr>
                    <td style="color: rgb(241,241,241);font-size: 13px;"><span
                            class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;<b>Our
                            House</b>&nbsp;&nbsp;|&nbsp;&nbsp;<b>&copy;</b>&nbsp;ZLXC Group 23</span>&nbsp;&nbsp;</td>
                    <td style="color: rgb(241,241,241);font-size: 13px;" align="right">&nbsp;&nbsp;<b>Contact
                            Us</b>&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;1234-123-123</td>
                </tr>
            </table>
    </footer>
</body>
<style>
    body {
        background-repeat: no-repeat;
        background-image: url("../static/img/backg.png");
        background-size: 100% auto;
    }

    footer {
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        line-height: 90px;
        position: absolute;
    }
</style>
<script>
    function logout() {
        window.location.href = "{{ url_for('login') }}";
    }
    function cancel() {
        window.location.href = "{{ url_for('homepage') }}";
    }
</script>